Source: pytest-forked
Priority: optional
Section: python
Maintainer: Scott Talbert <swt@techie.net>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-setuptools-scm,
 python3-pytest,
 python3-py,
 pandoc
Standards-Version: 4.5.0
Homepage: https://github.com/pytest-dev/pytest-forked
Vcs-Git: https://salsa.debian.org/python-team/modules/pytest-forked.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/pytest-forked
Rules-Requires-Root: no

Package: python3-pytest-forked
Architecture: all
Depends:
 python3-py,
 python3-pytest,
 ${misc:Depends},
 ${python3:Depends}
Description: py.test plugin for running tests in forked subprocesses (Python 3)
 The pytest-forked plugin extends py.test by adding an option to run tests in
 isolated forked subprocesses. This is useful if you have tests involving C or
 C++ libraries that might crash the process. To use the plugin, simply use the
 --forked argument when invoking py.test.
 .
 This package contains pytest-forked for Python 3.
